@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext'); //fonty googla

// Kolory
$color-primary: #ffcc00;      //główny akcenty
$color-secondary: #333;      //tło nagłówka
$color-dark: #222;           //footer
$color-light: #fff;          //jasny tekst
$color-muted: #ccc;          //tekst na ciemnym tle
$color-hover: #ffd633;       //hover
$color-background: #f4f4f4;  //tło aplikacji
$color-tertiary: #007bff;    //akcent linki
$color-error: #dc3545;       //błędy
$color-success: #28a745;     //sukcesy
$color-info: #17a2b8;        //informacje
$color-warning: #ffc107;     //ostrzeżenia
$color-border: #ddd;         //bordery formularzy

// Typografia
$font-family-base: 'Arial', sans-serif;
$font-size-base: 16px;       //bazowy
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

// Przerwy i marginesy
$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 2rem;

$container-width: 1200px;    //max szerokość kontenera

body {
    background-color: $color-background;
    font-family: $font-family-base;
    color: $color-secondary;
    height: 100%;
    margin: 0;
    padding: 0;
}
.main-content {
    flex: 1;
}

//header navbar
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #333;
    color: #fff;
}

//homepage button
.center-button {
    flex: 1;
    text-align: center;
}

.center-button .btn-home {
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: $color-primary;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.center-button .btn-home:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

/* Przyciski po prawej */
.right-buttons {
    flex: 1;
    text-align: right;
}

.right-buttons .btn {
    display: inline-block;
    padding: 10px 15px;
    margin-left: 10px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: $color-primary;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.right-buttons .btn:hover {
    background-color: #222;
    transform: translateY(-3px);
}

//powitanie
.welcome {
    margin-right: 15px;
    font-size: 1rem;
    color: #ddd;
    font-style: italic;
}


footer {
    background-color: $color-dark;
    color: $color-muted;
    text-align: center;
    padding: $spacing-medium 0;
    position: relative;
    bottom: 0;

    p {
        margin: 0;
        font-size: 0.875rem;
    }
}

.container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 $spacing-medium;
}

form {
    display: flex;
    flex-direction: column;
    gap: $spacing-medium;
    max-width: 400px;
    margin: $spacing-large auto;
    padding: $spacing-medium;
    border: 1px solid $color-border;
    border-radius: 8px;

    label {
        font-weight: $font-weight-bold;
        margin-bottom: $spacing-small;
    }

    input {
        padding: $spacing-small;
        border: 1px solid $color-border;
        border-radius: 4px;
        font-size: $font-size-base;

        &:focus {
            outline: none;
            border-color: $color-primary;
        }
    }

    button {
        background-color: $color-primary;
        color: $color-light;
        padding: $spacing-small;
        border: none;
        border-radius: 4px;
        font-weight: $font-weight-bold;
        cursor: pointer;

        &:hover {
            background-color: $color-hover;
        }
    }

    .error {
        color: $color-error;
        font-size: 0.875rem;
        margin-top: $spacing-small;
    }

    .success {
        color: $color-success;
        font-size: 0.875rem;
        margin-top: $spacing-small;
    }

    .info {
        color: $color-info;
        font-size: 0.875rem;
        margin-top: $spacing-small;
    }

    .warning {
        color: $color-warning;
        font-size: 0.875rem;
        margin-top: $spacing-small;
    }
}

//strona główna
.hero-section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; //sekcja zajmuje całą wysokość
    display: flex;
    align-items: center;
    justify-content: center;
}

//Overlay
.hero-overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);  //ciemna nakładka
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-section h1 {
    font-size: 3rem;
    font-weight: $font-weight-bold;
    margin-bottom: $spacing-large;
    color: $color-light;
    font-family: $font-header;
}

.movies-list {
    text-align: center;
    color: $color-light;

    h2 {
        font-size: 2.5rem;
        font-weight: $font-weight-bold;
        color: $color-primary;
        margin-bottom: $spacing-medium;
    }

    .movie-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 3rem;
        margin: $spacing-small;
        justify-items: center;
    }

    .movie-card {
        background-color: rgba(255, 255, 255, 0.8);
        padding: $spacing-medium;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        width: 100%;
        max-width: 300px;
        transition: transform 0.3s ease;
        color: $color-dark;

        h3 {
            font-size: 1.25rem;
            font-weight: $font-weight-bold;
            color: $color-primary;
        }

        p {
            font-size: 1rem;
            color: $color-secondary;
        }

        .btn {
            display: inline-block;
            padding: $spacing-small $spacing-medium;
            background-color: $color-primary;
            color: $color-light;
            text-decoration: none;
            border-radius: 4px;
            font-weight: $font-weight-bold;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: $color-hover;
            }
        }

        &:hover {
            transform: translateY(-10px);
        }
    }
}

//user profile
.profile-container {
    max-width: $container-width;
    margin: $spacing-large auto;
    padding: $spacing-medium;
    background-color: $color-light;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-container h1 {
    font-size: 2rem;
    font-weight: $font-weight-bold;
    color: $color-secondary;
    text-align: center;
}

.profile-container p {
    font-size: 1.125rem;
    color: $color-secondary;
    text-align: center;
    margin-top: $spacing-small;
}

.reviews-list {
    list-style-type: none;
    padding: 0;
}

.reviews-list li {
    background-color: $color-light;
    padding: $spacing-medium;
    margin-bottom: $spacing-medium;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.reviews-list li strong {
    color: $color-primary;
}

.reviews-list li .rating {
    color: $color-primary;
    font-weight: $font-weight-bold;
}

.reviews-list li a {
    text-decoration: none;
    color: $color-tertiary;
    margin-right: $spacing-small;
    font-weight: $font-weight-bold;
    transition: color 0.3s ease;

    &:hover {
        color: $color-hover;
    }
}

.reviews-list li a.delete {
    color: $color-error;

    &:hover {
        color: darken($color-error, 10%);
    }
}

.no-reviews {
    font-style: italic;
    color: $color-muted;
    text-align: center;
    font-size: 1.125rem;
    margin-top: $spacing-large;
}

.add-review-link {
    display: inline-block;
    margin-top: $spacing-medium;
    padding: $spacing-small $spacing-medium;
    background-color: $color-primary;
    color: $color-light;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    font-weight: $font-weight-bold;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $color-hover;
    }
}

//admin
.dashboard-stats {
    display: flex;
    justify-content: space-between;
    gap: $spacing-medium;
    margin-top: $spacing-large;

    .stat {
        background-color: $color-primary;
        color: $color-light;
        padding: $spacing-medium;
        border-radius: 8px;
        text-align: center;
        flex: 1;

        h2 {
            margin-bottom: $spacing-small;
            font-size: 1.25rem;
        }

        p {
            font-size: 2rem;
            font-weight: $font-weight-bold;
        }

        a {
            color: $color-light;
            text-decoration: none;
            font-weight: $font-weight-normal;

            &:hover {
                color: $color-hover;
            }
        }
    }
}

.button {
    display: inline-block;
    padding: $spacing-small $spacing-medium;
    background-color: $color-primary;
    color: $color-light;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-weight: $font-weight-bold;
    cursor: pointer;

    &:hover {
        background-color: $color-hover;
    }
}

.btn {
    display: inline-block;
    background-color: $color-primary;
    color: $color-light;
    padding: $spacing-small $spacing-medium;
    text-decoration: none;
    border-radius: 4px;
    font-weight: $font-weight-bold;
    transition: background-color 0.3s;

    &:hover {
        background-color: $color-hover;
    }
}

//tabela movie
.movie-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: $spacing-medium;

    th, td {
        padding: $spacing-small;
        text-align: left;
        border: 1px solid $color-border;
    }

    th {
        background-color: $color-primary;
        color: $color-light;
        font-weight: $font-weight-bold;
    }

    tr:nth-child(even) {
        background-color: $color-background;
    }

    tr:nth-child(odd) {
        background-color: $color-light;
    }

    td {
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    td a {
        text-decoration: none;
    }
}

//Przycisk Edytuj i Usuń
.btn {
    display: inline-block;
    padding: $spacing-small $spacing-medium;
    font-weight: $font-weight-bold;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    margin-right: $spacing-small;

    &.btn-warning {
        background-color: $color-warning;
        color: $color-dark;

        &:hover {
            background-color: darken($color-warning, 10%);
        }
    }

    &.btn-danger {
        background-color: $color-error;
        color: $color-light;

        &:hover {
            background-color: darken($color-error, 10%);
        }
    }

    &.btn-success {
        background-color: $color-success;
        color: $color-light;

        &:hover {
            background-color: darken($color-success, 10%);
        }
    }
}

@media (max-width: 768px) {
    .movie-table th, .movie-table td {
        padding: $spacing-small;
    }

    .movie-table {
        font-size: 0.875rem;
    }

    .movie-table td {
        max-width: none;
    }
}

//Tabela z recenzjami
.reviews-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: $spacing-medium;

    th, td {
        padding: $spacing-small;
        text-align: left;
        border: 1px solid $color-border;
    }

    th {
        background-color: $color-primary;
        color: $color-light;
        font-weight: $font-weight-bold;
    }

    tr:nth-child(even) {
        background-color: $color-background;
    }

    tr:nth-child(odd) {
        background-color: $color-light;
    }

    td {
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    td a {
        text-decoration: none;
    }
}

//Przycisk Edytuj i Usuń dla recenzji
.reviews-table .btn {
    display: inline-block;
    padding: $spacing-small $spacing-medium;
    font-weight: $font-weight-bold;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    margin-right: $spacing-small;

    &.btn-warning {
        background-color: $color-warning;
        color: $color-dark;

        &:hover {
            background-color: darken($color-warning, 10%);
        }
    }

    &.btn-danger {
        background-color: $color-error;
        color: $color-light;

        &:hover {
            background-color: darken($color-error, 10%);
        }
    }

    &.btn-success {
        background-color: $color-success;
        color: $color-light;

        &:hover {
            background-color: darken($color-success, 10%);
        }
    }
}

//pojedynczy film
.movie-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px);
    padding: 40px;
    background-color: #f4f4f9;
}

.movie-card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 16px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    padding: 60px;
    max-width: 900px;
    text-align: center;
    margin: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.movie-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}

.movie-card h1 {
    font-size: 3.5rem; 
    margin-bottom: 30px;
    color: #222222;
}

.movie-card p {
    font-size: 1.25rem;
    color: #444444;
    margin-bottom: 25px;
    line-height: 1.8;
}

.movie-card .btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: $color-success;
    color: #ffffff;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.movie-card .btn:hover {
    background-color: #0056b3;
    transform: translateY(-4px);
}
