//tutaj wszystko z układem strony, np klasy gridowe .row, col-md-2

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: $spacing-unit;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: -$spacing-unit / 2;
  }
  
  .col {
    flex: 1;
    padding: $spacing-unit / 2;
  }
  